<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="py.com.aquipago.pronetbackend.data.mapper.SedmovexpMapperRepository">
    <resultMap id="SedmovexpResultMap" type="py.com.aquipago.pronetbackend.data.dto.SedmovexpDTO">
        <result column="nro_secuencia" property="nroSecuencia"/>
        <result column="nro_expediente" property="nroExpediente"/>
        <result column="ind_ejefisexp" property="indEjefisexp"/>
        <result column="nro_carpeta" property="nroCarpeta"/>
        <result column="ind_ejefiscar" property="indEjefiscar"/>
        <result column="fec_movexp" property="fecMovexp"/>
        <result column="nro_tipmov" property="nroTipmov"/>
        <result column="nro_mesent" property="nroMesent"/>
        <result column="cod_depen" property="codDepen"/>
        <result column="nro_funcionario" property="nroFuncionario"/>
        <result column="nro_tarea" property="nroTarea"/>
        <result column="nro_estexp" property="nroTarea"/>
        <result column="usu_alta" property="usuAlta"/>
        <result column="fec_alta" property="fecAlta"/>
    </resultMap>

    <resultMap id="MovexpResultMap" type="py.com.aquipago.pronetbackend.data.dto.MovexpDTO">
        <result column="nro_expediente" property="nroExpediente"/>
        <result column="ind_ejefiscar" property="indEjefiscar"/>
        <result column="des_depen" property="desDepen"/>
        <result column="des_tipmov" property="desTipmov"/>
        <result column="fec_alta" property="fecAlta"/>
    </resultMap>
</mapper>
