<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="py.com.aquipago.pronetbackend.data.mapper.SempersonaMapperRepository">
    <resultMap id="SempersonaResultMap" type="py.com.aquipago.pronetbackend.data.dto.SempersonaDTO">
        <result column="ind_tipdocide" property="indTipdocide"/>
        <result column="nro_docide" property="nroDocide"/>
        <result column="nro_persona" property="nroPersona"/>
        <result column="des_persona" property="desPersona"/>
        <result column="nom_fantasia" property="nomFantasia"/>
        <result column="ind_sexo" property="indSexo"/>
        <result column="ind_estciv" property="indEstciv"/>
        <result column="ind_tipsoc" property="indTipsoc"/>
        <result column="fec_naccon" property="fecNaccon"/>
        <result column="dir_principal" property="dirPrincipal"/>
        <result column="tel_principal" property="telPrincipal"/>
        <result column="email_principal" property="emailPrincipal"/>
        <result column="ind_tipper" property="indTipper"/>
        <result column="obs_persona" property="obsPersona"/>
        <result column="ind_activo" property="indActivo"/>
        <result column="usu_alta" property="usuAlta"/>
        <result column="fec_alta" property="fecAlta"/>
        <result column="usu_ultmod" property="usuUltmod"/>
        <result column="fec_ultmod" property="fecUltmod"/>
    </resultMap>
</mapper>
